@import "src/scss/vars";

.body {
  word-break:break-all;
  padding: 11px 19px;
  border: 1px solid $green;
  display: inline-block;
  border-radius: 9px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14.5px;
  transition: all 0.5s;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);



  &.active {
    background-color: $blackButton;
    color: $white;
    border-color: transparent;
    -webkit-box-shadow: inset 9px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 9px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 9px 12px 5px 0px rgba(0, 0, 0, 0.75);
    animation: example 1s ease;
  }
}

@media(hover){
  .body {

    &:hover {
      background-color: $blackButton;
      color: $white;
      border-color: transparent;
    }
}}


@media only screen and (max-width: 480px) {
  .body {
    font-size: 17px;
    padding: 7px 12px;

  }
}
@media only screen and (max-width: 380px) {
  .body {
    font-size: 14px;
    padding: 5px 8px;
  }
}@media only screen and (max-width: 280px) {
  .body {
    font-size: 12px;
    padding: 5px 8px;
  }
}
@media only screen and (max-width: 413px) {
  .body {
    font-size: 14px;
    padding: 8px 13px;
  }
}
@media only screen and (max-width: 509px) {
  .mobile {
    font-size: 15px;
    padding: 4px 8px;
  }
}
@media only screen and (max-width: 469px) {
  .mobile {
    font-size: 11px;
    padding: 8px 14px;
  }
}@media only screen and (max-width: 389px) {
  .mobile {
    font-size: 10px;
    padding: 4px 8px;
  }
}

@keyframes example {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg)
  }
}