@import "src/scss/vars";

.body {
    margin-bottom: 16px;
  .container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .title {
      margin-right: 6px;
      color: $liteGray;
      font-size: 12.7px;
      font-weight: 300;
    }

    .img {
      margin-top: 5px;
      position: relative;
      cursor: pointer;

      svg {
        &:hover {
          path {
            stroke: $white
          }

          fill: $green;
        }

        cursor: pointer;
      }

    }
  }

  .hover {
    padding: 5px;
    position: absolute;
    top: -10px;
    left: 38px;
    font-size: 10px;
    width: 100px;
    border: 1px solid $green;
    text-align: center;
    border-radius: 10px;
  }

  .content {


  }
}
@media only screen and (max-width: 480px) {
  .body {
    .container {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .title {
        margin-right: 6px;
        color: $liteGray;
        font-size: 12px;
      }

      .img {
        margin-top: 5px;
        position: relative;
        cursor: pointer;

        svg {
          &:hover {
            path {
              stroke: $white
            }

            fill: $green;
          }

          cursor: pointer;
        }

      }
    }

    .hover {
      padding: 5px;
      position: absolute;
      top: -10px;
      left: 38px;
      font-size: 10px;
      width: 100px;
      border: 1px solid green;
      text-align: center;
      border-radius: 10px;
    }

  }
}