.body {
  margin-bottom: 30px;
  .logo {
  }
}

@media only screen and (max-width: 600px) {
  .body {
    margin-bottom: 35px;}
  .logo {

    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  .body {
    margin-top: 39px;
    margin-bottom: 37px;}
  .logo {
    display: flex;
    justify-content: center;
    img {
      width: 130px;
    }
  }
}